$font-stack: Roboto, sans-serif;
$line-color: black;
$scroll-headbutt: 83px;
$about-scroll-headbutt: 95px;
$background-color: (
  "main": white,
  "banner-text": rgba(255, 255, 255, 0.3),
  "footer": rgb(141, 141, 141),
);
